
.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh; /* Esto centra verticalmente el contenido */
    margin-top: 100px;
  }
  

#botonAutorizar{

    background-color: royalblue;
    width: 200px;
    height: 50px;
    border-radius: 10px;
}

.titulo {

    text-align: center;
    color: yellow;
    font-size: 100px;
}

 body{

    background-color: black;
}
